.postFnc {
  width: 100%;
  display: flex;
  justify-content: space-between;

  button {
    padding: 5px 12px;
    border: 1px solid #d9d9d9;
    border-radius: 18px;
  }
}

.postListWrap {
  width: 100%;
  letter-spacing: -0.04rem;
  .postList {
    padding: 45px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
    gap: 110px;

    .postListIn {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 15px;

      h2 {
        width: 100%;
        overflow: hidden;
        font-size: 22px;
        color: #333;
        font-weight: 600;
        text-wrap: nowrap;
        text-overflow: ellipsis;
      }

      span {
        display: flex;
        align-items: center;
        gap: 3px;
        font-size: 14px;
        color: #999;
      }

      .postInfoTop {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .createdAtWrap {
          display: flex;
          gap: 5px;
        }
      }

      p {
        width: 80%;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.035rem;
        color: #999;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; // 표시할 줄 수
        -webkit-box-orient: vertical;
      }
      .postInfoBot {
        display: flex;
        justify-content: space-between;

        b {
          display: flex;
          gap: 5px;
          font-size: 16px;
          color: #333;
          font-weight: 400;
        }
        .viewAndLike {
          display: flex;
          gap: 5px;
        }
      }
    }
  }

  .thumbnail {
    width: 150px;
    height: 150px;
    border-radius: 22px;
    overflow: hidden;

    > img {
      width: auto;
      height: 100%;
    }
  }
}
