.swiper {
  overflow: visible !important;
}
.swiper-slide {
  opacity: 0.6;
}
.swiper-slide-active,
.swiper-slide-prev,
.swiper-slide-next {
  opacity: 1;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  filter: grayscale(100);
  background: none !important;
}

.swiper-pagination-bullet-active {
  filter: none;
  background: none !important;
}

// @media (max-width: 1200px) {
//   .swiper-slide {
//     opacity: 1;
//   }
// }
